#table{
    width: 100vw;
    text-align: center;
    th {
        background-color: rgb(202, 202, 199);
        height: 40px;
    }
    td {
        background-color: rgb(236, 236, 231);
        height: 40px;


    }
}